<div class="container-fluid img" style="height: 93% ; background: url('./assets/notebook.jpeg');
background-repeat: no-repeat;
background-size: cover;
background-position: center; ">



    <div class="row " style="height:20vh"></div>
    <div class="row" style="height:60vh">
        <div class="col-3"></div>
        <div class="col-12 col-md-6">
            <div style=" text-align:center; font-size:72px; ">404</div>
            <div style=" text-align:center; font-size:25px;font-weight: bold;">Page Not Found</div>
            <div style=" text-align:center; font-size:20px; font-weight: bold; ">Sorry, but the page that you
                requested doesn't exit</div>

            <div style="padding-top:40px;padding-left: 100px;padding-right:100px;"><button
                    style="display:block;font-size:25px;width:100%;height:60px; font-weight: bold;background:rgba(13, 13, 14, 0)">
                    <a href=""style="color:black">Continue with the UserLogin</a></button></div>




        </div>
        <div class="col-3"></div>
    </div>
    <div class="row" style="height:20vh"></div>
</div>
